.header{
	height: 100px;
	padding: 10px;
	display: flex;
	align-items: center;
	border-bottom:2px solid gray;
	justify-content: center;
}

select{
	font-size: 20px;
}

.forecast-container{
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
}

.label{
	text-align: center;
	padding: 10px 0;
	font-size: 30px;
}